@font-face {
    font-family: "JetBrains Mono ExtraBold";
    src: url("JetBrainsMono-ExtraBold.eot"); /* IE9 */
    src: url("JetBrainsMono-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("JetBrainsMono-ExtraBold.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("JetBrainsMono-ExtraBold.woff") format("woff"), /* chrome, firefox */
    url("JetBrainsMono-ExtraBold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("JetBrainsMono-ExtraBold.svg#JetBrains Mono ExtraBold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


